
@media (min-width: 0px) {
    .wt_team {
        margin-top: 20px;
        &-title {
            font-size: .18rem;
            font-weight: 700;
        }
        &-peopleList {
            margin-top: 40px;
            &-itemDisc {
                background: #F2F2F2;
                padding: 0 15px;
                display: none;
                margin-top: 20px;
                &-wrapper {
                    position: relative;
                    text-align: right;
                }
                &-left {
                    padding: 10px 0;
                    max-width: 50%;
                    max-height: 100%;
                    box-sizing: border-box;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: left;
                    &-name {
                        font-size: .16rem;
                        font-weight: 600;
                    }
                    &-disc {
                        margin-top: .15rem;
                        font-size: .12rem;
                        line-height: .16rem;
                        width: 100%;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 6;
                        text-align: justify;
                    }
                }
                &-right {
                    width: 48%;
                    display: inline-block;
                    img {
                        width: 100%;
                        vertical-align: bottom;
                        mix-blend-mode: multiply;
                    }
                }
            }
            &-row {
                display: flex;
                flex-wrap: nowrap;
                &-col {
                    width: 33.333333%;
                    box-sizing: border-box;
                    cursor: pointer;
                    padding: 0 10px;
                    position: relative;
                    img {
                        width: 100%;
                        vertical-align: top;
                    }
                    .click_active {
                        opacity: 1;
                    }
                    &-model {
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                        right: 10px;
                        background: rgba(83,130,104,.75);
                        box-sizing: border-box;
                        padding: 4px 8px;
                        color: #fff;
                        opacity: 0;
                        transition: all .3s;
                        font-size: 12px;
                        &-position {
                            display: none;
                        }
                    }
                    &:hover {
                        .wt_team-peopleList-row-col-model {
                            opacity: 1;
                        }
                    }
                }
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
    }
}
@media (min-width: 768px) {
	.wt_team-peopleList-row-col-model-position {
        display: block;
    }
}
@media (min-width: 769px) {
	.wt_team {
        margin-top: 70px;
        &-title {
            font-size: 32px;
            font-weight: 700;
        }
        &-peopleList {
            margin-top: 40px;
            &-itemDisc {
                background: #F2F2F2;
                padding: 0 2.85rem;
                display: none;
                margin-top: 20px;
                &-wrapper {
                    
                }
                &-left {
                    padding: 10px 0;
                    &-name {
                        font-size: .36rem;
                        font-weight: 400;
                    }
                    &-disc {
                        margin-top: 20px;
                        font-size: 14px;
                        line-height: 26px;
                        max-width: 392px;
                        text-align: justify;
                        -webkit-line-clamp: 10;
                    }
                }
                &-right {
                    width: 350px;
                    img {
                        width: 100%;
                        vertical-align: bottom;
                        mix-blend-mode: multiply;
                    }
                }
            }
            &-row {
                display: flex;
                flex-wrap: nowrap;
                &-col {
                    width: 16.66666%;
                    box-sizing: border-box;
                    cursor: pointer;
                    padding: 0 10px;
                    position: relative;
                    img {
                        width: 100%;
                        vertical-align: top;
                    }
                    .click_active {
                        opacity: 1;
                    }
                    &-model {
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                        right: 10px;
                        background: rgba(83,130,104,.75);
                        box-sizing: border-box;
                        padding: 8px .2rem;
                        color: #fff;
                        opacity: 0;
                        transition: all .3s;
                        &-position {
                            display: block;
                        }
                    }
                    &:hover {
                        .wt_team-peopleList-row-col-model {
                            opacity: 1;
                        }
                    }
                }
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
	
}
@media (min-width: 1500px) {
	
}


