<!--
 * @Description: 
 * @Version: 1.0
 * @Autor: jinchuan.lee
 * @Date: 2021-09-04 15:27:29
 * @LastEditors: jinchuan.lee
 * @LastEditTime: 2021-09-04 16:55:15
-->
<header>
	<div id="menu_wrapper">
		 <nav class="navbar navbar-default" role="navigation"> 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
					<span class="sr-only">展开导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#">
					<img src="../../assets/img/logo1.png" alt="">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="menu">
				<ul class="nav navbar-nav">
					
				</ul>
			</div>
			<div class = "wt-logo">
				<img src="../../assets/img/logo1.png" alt="">
			</div>
		</nav>
	</div>
</header>
