@media (min-width: 0px) {
    .wt-contact {
        margin-top: 50px;
        color: #646464;
        &-submitType {
            margin-bottom: 50px;
            &-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "fontBold";
            }
            &-c {
                margin-top: 35px;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }
        }
        &-joinUs {
            margin-top: 50px;
            &-position {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                .joinUs-position-items {
                    width: 100%;
                    margin-bottom: 50px;
                    &-title {
                        font-size: 18px;
                        font-family: "fontBold";
                    }
                    &-detial {
                        margin-top: 25px;
                        &-item {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 28px;
                            word-break:break-all;
                        }
                    }
                }
            }
            &-title {
                font-size: 20px;
                font-weight: 600;
            }
        }
        &-disc {
            margin-top: 30px;
            &-info {
                margin-top: 15px;
                &-i {
                    color: #646464;
                    font-size: 14px;
                    line-height: 28px;
                    &-label {
                        font-weight: 600;
                    }
                    &-value {

                    }
                }
            }
            &-title {
                color: #646464;
                font-size: 20px;
                font-weight: 600;
            }
        }
        &-banner {
            height: 300px;
            background-position:center 80%;
            background-size: 100% auto;
            background-repeat:no-repeat;
        }
    }
}
@media (min-width: 768px) {
   
}
@media (min-width: 769px) {
    .wt-contact {
        margin-top: 80px;
        color: #646464;
        &-submitType {
            margin-bottom: 105px;
            &-title {
                font-size: 18px;
                font-weight: bold;
                font-family: "fontBold";
            }
            &-c {
                margin-top: 35px;
                font-size: 18px;
                font-weight: 400;
            }
        }
        &-joinUs {
            margin-top: 80px;
            &-position {
                margin-top: 50px;
                display: flex;
                flex-wrap: wrap;
                .joinUs-position-items {
                    width: 50%;
                    margin-bottom: 80px;
                    &-title {
                        font-size: 16px;
                        font-weight: 600;
                    }
                    &-detial {
                        margin-top: 35px;
                        &-item {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 33px;
                        }
                    }
                }
            }
            &-title {
                font-size: 24px;
                font-weight: 400;
            }
        }
        &-disc {
            margin-top: 80px;
            &-info {
                margin-top: 50px;
                &-i {
                    color: #646464;
                    font-size: 16px;
                    line-height: 35px;
                    &-label {
                        font-weight: 600;
                    }
                    &-value {

                    }
                }
            }
            &-title {
                color: #646464;
                font-size: 24px;
                font-weight: 400;
            }
        }
        &-banner {
            img {
                width: 100%;
            }
        }
    }
}
@media (min-width: 1024) {
   
}
@media (min-width: 1500px) {
   
}