
@media (min-width: 0px) {
    .wt_news {
        margin-top: 20px;
        .line {
            height: 1px;
            background-color: #979797;
        }
        &-items {
            padding-bottom: 24px;
            &-leftImg {
               img {
                 width: 100%;
                 display: inline-block;
               }
            }
            &-rightDis {
                &-title {
                    font-size: 18px;
                    margin-top: 15px;
                }
                &-date {
                    color: #505050;
                    margin-top: 10px;
                }
                &-content {
                    margin-top: 24px;
                    line-height: 24px;
                    text-align: justify;
                }
            }
            &:not(:first-child) {
                margin-top: 20px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
@media (min-width: 768px) {
	
}
@media (min-width: 769px) {
    .wt_news {
        margin-top: 85px;
        &-items {
            padding-bottom: .24rem;
            &-leftImg {
               img {
                 width: 100%;
                 display: inline-block;
               }
            }
            &-rightDis {
                //padding-left: .45rem;
                &-title {
                    font-size: 22px;
                    margin-top: 0px;
                }
                &-date {
                    color: #505050;
                    margin-top: 10px;
                }
                &-content {
                    margin-top: .24rem;
                    line-height: 24px;
                    text-align: justify;
                }
            }
            &:not(:first-child) {
                margin-top: 61px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
@media (min-width: 1024px) {
	
}

@media (min-width: 1500px) {

}