@media (min-width: 0px) {
    .navbar-collapse {
		background: rgba(0, 0, 0,.7);
	}
    .wt_projects {
        margin-top: 20px;
        &-content {
            margin-top: 30px;
            .wt_projects-itemDetail {
                position: fixed;
                display: none;
                top: 50px;
                left: 0;
                height: calc(100% - 50px);
                width: 100%;
                z-index: -1;
                margin: 0;
                &-content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 9998;
                    width: 100%;
                    background: rgba(0,0,0,.8);
                    backdrop-filter: saturate(180%) blur(20px);
                    min-height: 50px;
                    .itemDetail_content_slider {
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 9999;
                        .img-icon {
                            height: 25px;
                            transform: rotate(90deg);
                            cursor: pointer;
                            transition: all .3s;
                        }
                    }
                    .itemDetail_content_wrapper {
                        overflow: hidden;
                        padding: 24px 10px 30px;
                        position: relative;
                        .itemDetail_content {
                            color: #fff;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin-top: 15px;
                            &-left {
                                width: 100%;
                                .content-row {
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                                &-title {
                                    font-weight: 600;
                                    font-size: 14px;
                                    margin-bottom: 15px;
                                }
                                .content_items {
                                    margin-right: 20px;
                                    width: 100%;
                                }
                            }
                            &-right {
                                width: 100%;
                            }
                            .content_items {
                                line-height: 30px;
                                font-size: 12px;
                                &-label {
                                    display: inline-block;
                                    font-weight: 600;
                                }
                                &-value {
                                    display: inline-block;
                                }
                            }
                        }
                        .itemDetail_content_back {
                            color: #fff;
                            border: 1px solid #fff;
                            padding: 3px 12px;
                            display: inline-block;
                            border-radius: 15px;
                            font-size: 12px;
                            cursor: pointer;
                        }
                    }
                }
                .banner {
                    height: calc(100% - 50px);
                    width: 100%;
                    position: fixed;
                    top: 50px;
                    left: 50%;
                    overflow: hidden;
                    z-index: 2;
                    transform: translateX(-50%);
                }
                .banner ul{
                    height: 100%;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
                .banner ul li{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    list-style: none;
                    position: absolute;
                }
                .banner ul li img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                    user-select: none;
                    display: block;
                    transition: all 6s linear;
                }
                .ban-btn{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;
                    img {
                        width: 18px;
                        height: auto;
                    }
                }
                .ban-btn a{
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    padding: 0 .2rem;
                }
                .next-btn{
                    float: right;
                    margin-right: 0px;
                }
                .prev-btn{
                    float: left;
                    margin-left: 0px;
                }
            }
            &-wrapper {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-right: -5px;
                margin-left: -5px;
                
                &-item {
                    width: 100%;
                    padding: 5px;
                    img {
                        width: 100%;
                    }
                    .item_wrapper {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        &:hover {
                            .item_model {
                                opacity: 1;
                            }
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .item_model {
                        opacity: 0;
                        transition: all .4s;
                        position: absolute;
                        box-sizing: border-box;
                        padding: 10px;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        cursor: pointer;
                        background: rgba(0,0,0,.5);
                        &-content {
                            position: absolute;
                            bottom: 20px;
                            left: 20px;
                            color: #fff;
                            &-name {
                                font-size: 14px;
                            }
                            &-date {
                                font-size: 12px;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        &-selectType {
            display: block;
        }
        &-type {
            display: none;
            .label_active {
                font-weight: 600;
            }
            &-item {
                display: inline-block;
                font-size: 16px;
                margin-right: 20px;
                cursor: pointer;
                padding: 10px 0;
            }
        }
    }
}
@media (min-width: 768px) {
    
}
@media (min-width: 769px) {
    .navbar-collapse {
		background: transparent;
	}
    .wt_projects {
        margin-top: 20px;
        &-content {
            margin-top: 30px;
            .wt_projects-itemDetail {
                position: fixed;
                display: none;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                margin: 0;
                &-content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 9998;
                    width: 100%;
                    background: rgba(0,0,0,.8);
                    backdrop-filter: saturate(180%) blur(20px);
                    min-height: 50px;
                    .itemDetail_content_slider {
                        position: absolute;
                        top: 10px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 9999;
                        .img-icon {
                            height: 25px;
                            transform: rotate(90deg);
                            cursor: pointer;
                            transition: all .3s;
                        }
                    }
                    .itemDetail_content_wrapper {
                        overflow: hidden;
                        padding: 24px 60px 50px;
                        position: relative;
                        .itemDetail_content {
                            color: #fff;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin-top: 30px;
                            &-left {
                                width: auto;
                                .content-row {
                                    display: flex;
                                }
                                &-title {
                                    font-weight: 600;
                                    font-size: 20px;
                                    margin-bottom: 40px;
                                }
                                .content_items {
                                    margin-right: 20px;
                                    width: auto;
                                }
                            }
                            &-right {
                                width: auto;
                            }
                            .content_items {
                                line-height: 30px;
                                font-size: 14px;
                                &-label {
                                    display: inline-block;
                                    font-weight: 600;
                                }
                                &-value {
                                    display: inline-block;
                                }
                            }
                        }
                        .itemDetail_content_back {
                            color: #fff;
                            border: 1px solid #fff;
                            padding: 3px 12px;
                            display: inline-block;
                            border-radius: 15px;
                            font-size: 12px;
                            cursor: pointer;
                        }
                    }
                }
                .banner {
                    height: 100%;
                    width: 100%;
                    position: fixed;
                    top: 0;
                    left: 50%;
                    overflow: hidden;
                    z-index: 2;
                    transform: translateX(-50%);
                }
                .banner ul{
                    height: 100%;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
                .banner ul li{
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    list-style: none;
                    position: absolute;
                }
                .banner ul li img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                    user-select: none;
                    display: block;
                    transition: all 6s linear;
                }
                .ban-btn{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;
                    img {
                        width: 22px;
                        height: auto;
                    }
                }
                .ban-btn a{
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    padding: 0 .2rem;
                }
                .next-btn{
                    float: right;
                    margin-right: .5rem;
                }
                .prev-btn{
                    float: left;
                    margin-left: .5rem;
                }
                
            }
            &-wrapper {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-right: -10px;
                margin-left: -10px;
                &-item {
                    width: 33.3333333333%;
                    padding: 10px;
                    height: 280px;
                    .item_wrapper {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        &:hover {
                            .item_model {
                                opacity: 1;
                            }
                            img {
                                transform: scale(1.1);
                                -webkit-filter: blur(5px); /* Chrome, Opera */
                                -moz-filter: blur(5px);
                                -ms-filter: blur(5px);    
                                filter: blur(5px);
                            }
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center top;
                        user-select: none;
                        cursor: pointer;
                        transition: all .4s;
                    }
                    .item_model {
                        opacity: 0;
                        transition: all .4s;
                        position: absolute;
                        box-sizing: border-box;
                        padding: 24px;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        cursor: pointer;
                        background: rgba(83,130,104,0.9);
                        &-content {
                            height: calc(100% - 46px);
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            &-name {
                                font-size: 14px;
                                color: #fff;
                                font-weight: 600;
                            }
                            &-date {
                                font-size: 12px;
                                margin-top: 8px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        &-selectType {
            display: none;
        }
        &-type {
            display: block;
            .label_active {
                font-weight: 600;
            }
            &-item {
                display: inline-block;
                font-size: 12px;
                margin-right: 15px;
                cursor: pointer;
                padding: 10px 0;
                text-align: center;
                .cn {
                    display: none;
                    white-space: nowrap;
                }
                .en {
                    display: block;
                    white-space: nowrap;
                }
                &:hover {
                    .cn {
                        display: block;
                    }
                    .en {
                        display: none;
                    }
                }
            }
        }
    }
    
}
@media (min-width: 1024px) {
    
}
@media (min-width: 1500px) {
    
}
.type_itemWhite {
    color: #fff !important;
    text-shadow: 1px 1px 1px #686868;
}