

body ul{ list-style-type: none; }
@media (min-width: 0px) {
    .banner{overflow:hidden;width: 100%;}
    .large_box{margin-bottom:10px;width:100%;height:250px;overflow:hidden;position: relative;}
    .large_box img{display:block;width: 100%;height: 250px; object-fit: cover;
        object-position: center top;
        user-select: none;}
    .small_box{width:100%;height:35px;overflow:hidden;}
    .small_list{position:relative;float:left;width:100%;height:35px;overflow:hidden;}
    .small_list ul{height:35px;overflow:hidden;}
    .small_list ul li{position:relative;float:left;margin-right:10px;width:65px;}
    .small_list ul li img{display:block;width: 100%;}
    .small_list ul li .bun_bg{display:none;position:absolute;top:0;left:0;width:65px;height:35px;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;}
    .small_list ul li.on .bun_bg{display:block;}
    .btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .btn img {
        width: 10px !important;
        height: 20px !important;
    }
    
    .left_btn{
        left: 5px;
    }
    .right_btn{
        right: 5px;
    }
}
@media (min-width: 769px) {
    .banner{overflow:hidden;width: 100%;}
    .large_box{margin-bottom:10px;width:100%;height:6.91rem;overflow:hidden;}
    .large_box img{display:block;width: 100%;height: 6.91rem; object-fit: cover;
        object-position: center top;
        user-select: none;}
    .small_box{width:100%;height:70px;overflow:hidden;}
    .small_list{position:relative;float:left;width:100%;height:70px;overflow:hidden;}
    .small_list ul{height:70px;overflow:hidden;}
    .small_list ul li{position:relative;float:left;margin-right:10px;width:133px;}
    .small_list ul li img{display:block;width: 100%;}
    .small_list ul li .bun_bg{display:none;position:absolute;top:0;left:0;width:133px;height:70px;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;}
    .small_list ul li.on .bun_bg{display:block;}
    .large_box:hover {
        .btn {
            display: block;
        }
    }
    .btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }
    .btn img {
        width: 20px !important;
        height: 40px !important;
    }
    .left_btn{
        left: 15px;
    }
    .right_btn{
        right: 15px;
    }
}